fastapi
uvicorn
langchain
langchain-community
weaviate-client
pydantic
python-docx
PyPDF2
streamlit
pytest
evaluate
absl-py
openai
dotenv
nltk
rouge-score
tiktoken
langchain-openai
python-multipart
streamlit-extras
minio